.playlist-tile {
	width: var(--videotile-width);
}

.playlist-tile:hover {
	cursor: pointer;
}

.playlist-img {
	object-fit: cover;
	width: 100%;
	height: 9rem;
}

.playlist-img-wrapper {
	position: relative;
	height: 9rem;
}

.playlist-number {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 60%;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	color: var(--white);
}

.playlistinfo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.playlist-modal {
	width: 10rem;
}

.playlist-modal > p {
	display: flex;
	align-items: center;
	gap: 6px;
}

.playlist-modal > p:hover {
	background-color: var(--grey-dark-opacity);
	cursor: pointer;
}
