.navbar {
	height: var(--navbar-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin: 0;
}

.avatar-default-sm {
	width: max(2.5rem, 24px);
	height: auto;
	aspect-ratio: 1;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-search {
	width: 110px;
	margin-bottom: 0;
	padding: 0.5rem 1rem;
	background-color: var(--grey-dark-opacity);
	outline: none;
	border: none;
	color: var(--white);
	border-radius: 0.25rem;
	font-family: inherit;
}

.input-search::placeholder {
	color: var(--white);
	font-size: 1rem;
}

.avatar-default-sm:hover {
	cursor: pointer;
}

.hamburger {
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.hamburger .ham-line {
	display: block;
	width: 20px;
	height: 3px;
	background-color: var(--white);
	margin-block: 4px;
	border-radius: 4px;
	transition: transform 0.5s, opacity .25s;
}

.hamburger.active .ham-line:nth-child(1){
	transform: translateY(7px) rotate(45deg);
}

.hamburger.active .ham-line:nth-child(2){
	opacity: 0;
}

.hamburger.active .ham-line:nth-child(3){
	transform: translateY(-7px) rotate(-45deg);
}

.navbar > .centered .material-icons-outlined {
	font-size: 2rem;
	color: var(--white);
}

@media only screen and (min-width: 350px) {
	.input-search {
		width: 15rem;
	}
}

@media only screen and (min-width: 550px) {
	.input-search {
		width: 25rem;
	}
}

@media only screen and (min-width: 750px) {
	.hamburger {
		display: none;
	}
}
