.video-card,
.video-card-horizontal {
	width: var(--videotile-width);
	position: relative;
}

.video-details,
.video-details-horizontal {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 5px;
}

.video-details-horizontal > :first-child {
	flex-grow: 1;
}

.video-details-horizontal-wrapper {
	max-width: var(--videotile-width);
	padding-left: 0.5rem;
}

.btn-more {
	color: var(--white);
	padding: 5px;
	border-radius: 50%;
	background-color: transparent;
	visibility: hidden;
}

.video-card:hover .btn-more, .video-card-horizontal .btn-more  {
	visibility: visible;
}

.video-details-header {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	white-space: normal;
}

.video-desc {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	white-space: normal;
	line-height: 1.4;
}

.videotile-wrapper {
	position: relative;
}

.video-tile {
	object-fit: cover;
	width: var(--videotile-width);
	height: 9.5rem;
}

.video-time {
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--white);
	position: absolute;
	bottom: 8px;
	right: 8px;
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 4px;
}

.videocard-modal {
	width: 15rem;
	border-radius: 4px;
	position: absolute;
	top: 12.5rem;
	left: 1rem;
	z-index: 5;
}

.videocard-modal-action {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	gap: 5px;
	font-size: 0.9rem;
	letter-spacing: 1.1;
}

.videocard-modal-action:hover {
	background-color: var(--grey-dark-opacity);
}

.video-card:hover,
.video-card-horizontal:hover,
.videocard-modal-action:hover {
	cursor: pointer;
}

@media only screen and (min-width: 750px) {
	.video-card-horizontal {
		display: flex;
		flex-direction: row;
		width: 35rem;
		height: 100%;
	}
	.video-details-horizontal {
		display: flex;
		align-items: flex-start;
	}
	.videocard-modal-horizontal {
		top: 2.5rem;
		left: 34rem;
	}
}
