@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Spartan:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
	--grey-dark: #373837;
	--grey-dark-opacity: #4b4c4b;
	--black: #242423;
	--primary: #f5cb5c;
	--primary-light: #ffe499;
	--white: #e8eddf;
	--navbar-height: 4rem;
	--drawer-width: 15rem;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

.container-body {
	margin-top: var(--navbar-height);
	padding-bottom: 4rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.display-inlineblock {
	display: inline-block;
}

@media only screen and (min-width: 750px) {
	.container-body {
		margin-left: var(--drawer-width);
	}
}
